data/
models/
videos/
outputs/
*.pyc
__pycache__/
.env
pose-env/

.conda/

*.pt
*.npz
*.mp4
*.avi
*.mov
*.gif
*.png
*.dll
*.pth

mmaction2/*
!mmaction2/data/
!mmaction2/data/kinetics400/
!mmaction2/data/kinetics400/normalized/
!mmaction2/data/kinetics400/normalized/**